.attribution { font-size: 11px; text-align: center;  margin-top: 5%;}
.attribution a { color: hsl(228, 45%, 44%); }

body
{
    background-color: hsl(30, 54%, 90%)
}

#pageBg
{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    height: 1000px;
    width: 385px;
    border-radius: 7px;
    position: relative;
    margin-top: 2%;
}

#titleImg
{
    margin-top: 5%;
    border-radius: 6px;
}

@font-face {
    font-family: youngSerif;
    src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf");
}

@font-face {
    font-family: lightFont;
    src: url("assets/fonts/outfit/static/Outfit-Light.ttf");
}

@font-face {
    font-family: semiBold;
    src: url("assets/fonts/outfit/static/Outfit-SemiBold.ttf");
}

@font-face {
    font-family: regularFont;
    src: url("assets/fonts/outfit/static/Outfit-Regular.ttf");
}

#title
{
    font-family: youngSerif;
    margin-top: 50%;
    position: absolute;
    margin-right: 15%;
    font-weight: 200;
    color: hsl(24, 5%, 18%);
    white-space: nowrap;
}

#desc
{
    font-family: lightFont;
    margin-top: 60%;
    position: absolute;
    color: hsl(24, 5%, 18%);
    font-size: 0.5em;
    padding-left: 3vh;
    padding-right: 3vh;
}

#preprationBg
{
    background-color: hsl(330, 100%, 98%);
    position: absolute;
    margin-top: 70%;
    width: 350px;
    height: 105px;
    border-radius: 6px;
}

ul
{
    position: absolute;
    margin-top: 8%;
}

#preprationTitle
{
    position: absolute;
    color: hsl(332, 51%, 32%);
    font-family: semiBold;
    font-size: 0.75em;
    padding-left: 2vh;
}


ul li
{
    font-family: semiBold;
    font-size: 0.6em;
    margin-top: 1.2vh;
}

ul li span
{
    font-family: lightFont;
}

h3
{
    font-family: youngSerif;
    color: hsl(14, 45%, 36%);
    font-family: 400;
    position: absolute;
    margin-top: 100%;
    margin-right: 60%;
    font-weight: 400;
}

#ingredientList
{
    margin-top: 107%;
    margin-right: 20%;
}

#instructionList
{
    padding-top: 140%;
    margin-right: 22%;
    list-style: decimal;
}

#ingredientList li
{
    font-family: lightFont;
}

#instructionList li
{
    font-family: lightFont;
}

#instructionList li span
{
    font-family: semiBold;
    color:  hsl(30, 10%, 34%);
}

hr{
    border-color: hsl(30, 18%, 87%); width: 90%; position: absolute;
}

#secondLine
{
    margin-top: 214%;
}

#NutrDesc
{
    margin-top: 226%;
    font-family: lightFont;
    position: absolute;
    font-size: 0.55em;
}

#nutrutionList
{
    margin-top: 230%;
    list-style: none;
    margin-right: 65%;
}

#nutrutionList li span
{
    margin-left: 190%;
    color: hsl(14, 45%, 36%);
    font-family: semiBold;
}

#nutrutionList li
{
    white-space: nowrap;
    font-family: lightFont;
}